/* Global CSS (e.g., index.css or App.module.css) */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap');


:root {
    --font-family: 'Comfortaa', sans-serif;
}

body {
    margin: 0;
    font-family: var(--font-family);
    background-image: url("../public/BACKGROUND.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}